Source: ros-groovy-rosbash
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin
Homepage: http://www.ros.org/wiki/rosbash
Standards-Version: 3.9.2

Package: ros-groovy-rosbash
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Assorted shell commands for using ros with bash.
